*{
  margin:0;
  padding:0;
}
body{
  background-color:#121212;
  place-items:center;
  display:flex;
  min-height:100vh;
}

btn {
    text-align: center;

}

.btn a {
    text-decoration: none;
    color:white ;
}

#btn {
    margin-bottom:10px;
    border-color: black;
    background-color:orangered;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
main{
  display:grid;
  grid-template-areas:
   'a a a b b'
   'c c d d d'
   'c c e e e'
 ;
  grid-template-columns:repeat(5,1fr);
  grid-template-rows:200px 80px 120px ;
  gap:10px;
  width:50%;
  margin:auto;
}
main div{
  padding:2em;
  text-align:center;
}
.item-a{
  background-color:orangered;
  grid-area:a;
}
.item-b{
  background-color:#ff9500;
  grid-area:b;
}
.item-c{
  background-color:green;
  grid-area:c;
}
.item-d{
  background-color:#0eb3e6;
  grid-area:d;
}
.item-e{
  background-color:#0eb3e6;
  grid-area:e;
}